*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;
color:white;

font-family:'Orbitron',sans-serif;

overflow:hidden;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.hero{

text-align:center;

}

h1{

font-size:6rem;

letter-spacing:10px;

margin-bottom:20px;

}

h2{

color:#00E5FF;

margin-bottom:20px;

}

p{

opacity:.7;

margin-bottom:40px;

font-family:"JetBrains Mono",monospace;

}

button{

padding:15px 40px;

background:none;

border:2px solid cyan;

color:cyan;

cursor:pointer;

transition:.4s;

font-family:"Orbitron";

}

button:hover{

background:cyan;

color:black;

box-shadow:

0 0 20px cyan,

0 0 40px cyan;

}
